.presentation-only {
    &.not-presenting {
        display: none;
    }
    &.presenting {
        display: block;
    }
}

.article-content {
    &.not-presenting {
        display: block;
    }
    &.presenting {
        display: none;
    }
}